<p>Version: <%= link_to version.version, version.download_url %></p>
<p>Title: <%= version.title %></p>
<p>Description: <%= version.description %></p>
<p>Published at: <%= version.published_at %></p>
<p>Authors: <%= version.authors %></p>
<p>Maintainers: <%= version.maintainers %></p>
<hr/>